    .whole{
        width:100vw;
        height: 100vh;

    }

    .row1 img , .row2 img , .row3 img {
         margin: 0 10px 10px 0; 
        width: 20%;
       min-width:100px
        object-fit: contain;
        max-width: 500px;
        max-height: 80%;
    }

    body{
  overflow-x: hidden;
   overflow-y: auto; 
}
